
/* Color Theme Swatches in Hex */
.Canoo-with-Jeff-Ludes-1-hex { color: #212026; }
.Canoo-with-Jeff-Ludes-2-hex { color: #8599A6; }
.Canoo-with-Jeff-Ludes-3-hex { color: #D2D6D9; }
.Canoo-with-Jeff-Ludes-4-hex { color: #A0A676; }
.Canoo-with-Jeff-Ludes-5-hex { color: #727363; }

body {
    background:#D2D6D9;
} 
